.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
.terraform/providers/registry.terraform.io/hashicorp/azurerm/2.88.1/linux_amd64/terraform-provider-azurerm_v2.88.1_x5
.terraform/providers/registry.terraform.io/hashicorp/tls/3.1.0/linux_amd64/terraform-provider-tls_v3.1.0_x5
